*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s ease;
    font-family: "roboto";
}
body{
    height: 100vh;
    background-color: black;
}
/* .container{

} */
.container .container-flex{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.container .container-flex .flex1{
    background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.548)), url(./Image/register-img.png);
    background-size: cover;
    width: 100%;
    padding: 0rem 2rem;
}

.container .container-flex .flex1 .text-flex{
    display: flex;
    margin-top: 39rem;
}

.container .container-flex .flex1 .text-flex .text{
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.container .container-flex .flex1 .text-flex .text span{
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.container .container-flex .flex1 .text-flex hr{
    background-color: white;
    width: 400px;
    height: 2px;
    margin-top: 2rem;
}

.container .container-flex .flex2{
    padding: 2rem 4rem;
    width: 100%;
    background-color:white;
    text-align: center;
    justify-content: center;
}

.container .container-flex .flex2 .heading{
    display: flex;
    justify-content: center;
}

.container .container-flex .flex2 .heading img{
    margin-top: -4.5rem;
    margin-left: -5rem;
}

.container .container-flex .flex2 .heading .heading-title{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-left: -6rem;
    margin-top: 4rem;
}

.container .container-flex .flex2 .inputs .input1{
    /* display: flex; */
    margin-top: -1rem;
    margin-bottom: 1.7rem;
}

.container .container-flex .flex2 .inputs input{
    border: none;
    outline: none;
    background-color: #EEEEEE;
    width: 276px;
    height: 50px;
    border-radius: 3rem;
    padding-left: 3rem;
}

.container .container-flex .flex2 .inputs .icon1{
    position: absolute;
    margin-top: 0.8rem;
    right: 28rem;
}

.container .container-flex .flex2 .inputs .icon2{
    position: absolute;
    margin-top: 0.8rem;
    right: 28rem;
}

.container .container-flex .flex2 .inputs .icon3{
    position: absolute;
    margin-top: 0.9rem;
    right: 14rem;
}

.container .container-flex .flex2 .inputs .icon4{
    position: absolute;
    margin-top: 0.8rem;
    right: 28rem;
}

.container .container-flex .flex2 .checkbox{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: -1rem;
}

.container .container-flex .flex2 .checkbox #checker{
    border: 3px solid #0000;
    margin-right: 1rem;
}

.container .container-flex .flex2 .checkbox .check-title{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.container .container-flex .flex2 .btn1{
    margin: 1rem 0rem;
}

.container .container-flex .flex2 .btn1 .btn1{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: black;
    border-radius: 4rem;
    padding: 1rem 6rem;
    text-align: center;
}

.or{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}
.container .container-flex .flex2 .btn1 .btn2{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: black;
    border-radius: 4rem;
    padding: 1rem 5.4rem;
    text-align: center;
    position: relative;
}

.container .container-flex .flex2 .btn1 img{
    position: absolute;
    right: 17rem;
    margin-top: 0.1rem;
}

.container .container-flex .flex2 .community{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    margin: 1rem;
    font-size: 14px;
}

.container .container-flex .flex2 .last-link a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    color:black;
}